* {
	box-sizing: border-box;
	margin: 0;
}
html {
	--hl			: #c86e00;
	--gap			: 3vw;
	--font    : clamp(0.4em, 2vw, 5vh);
	--bigfont : min( 8vw, 4rem, 10vh);
	--hugefont: min(12vw, 6rem, 15vh);
	--radius	: 0.5em;
	--contour	: 0.2vw;
	--trans 	: 300ms;
	--green   : #5a5;
	--red     : #a55;
}
body {
	color: #eee;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	padding: 0;
	width: 100vw;	/* prevent moving content horizontally on scrollbar show/hide */
	overflow-x: hidden;
}
a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button {
	cursor: pointer;
	color: #fff;
	outline: none;
	display: inline-block;
}
input[type="text"], input[type="submit"], hr {
	width: 100%;
	max-width: 40rem;
}
input[type="text"]:focus {
	box-shadow: 0 0 var(--radius) var(--hl);
}
input[type="submit"] {
	background-color: var(--green);
	font-size: var(--bigfont);
	font-weight: bold;
	border-radius: var(--radius);
}

input, button, select, textarea {
	font-family: inherit;
	font-size: max(1rem,2vw);
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	box-sizing: border-box;
	border: var(--contour) solid #fff8;
	color: inherit;
	background-color: #666;
}

input:disabled, button:disabled {
	opacity: 0.5;
	cursor: not-allowed !important;
}
input:not(:disabled):active, button:not(:disabled):active {
	box-shadow: 0 0 var(--radius) var(--hl);
}

h1, h2 {
	color: var(--hl);
	font-weight: 400;
	text-align: center;
}
h1 {
	text-shadow: 0 0 var(--contour) #f00;
	font-size: 10vw;
	text-transform: uppercase;
}
h2 {
	text-shadow: 0 0 var(--contour) #000;
	font-size: 6vw;
	white-space: nowrap;
}
