* {
	box-sizing: border-box;
}
:root {
	--hl			: #c86e00;
	--gap			: 3vw;
	--gap-1		: -3vw;
	--font    : clamp(2vw, 1em, 4vw);
	--bigfont : min( 8vw, 4rem, 10vh);
	--hugefont: min(12vw, 6rem, 15vh);
	--fontdyn : max(1em,5vw);
	--font2dyn: max(2em,10vw);
	--radius	: 0.5em;
	--contour	: 0.2vw;
	--time 		: 200ms;
	--trans 	: transform var(--time), opacity var(--time);
	--green   : #5a5;
	--red     : #a55;
	--off     : #555;
}
body {
	background-color: #333;
	color: #eee;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	padding: 0;
	margin: 0;
	width: 100vw;	/* prevent moving content horizontally on scrollbar show/hide */
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}
a, a:visited {
	color: rgb(0,100,200);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

a[rel^="external"]::after, a[target="_blank"] {	/* thin non-break space included in content */
	content: " ↗";
}

input, button, label, a.button {
	cursor: pointer;
	color: #fff;
	outline: none;
	display: inline-block;
}
input[type="text"]:focus {
	box-shadow: 0 0 var(--radius) var(--hl);
}
input[type="submit"], a.button {
	background-color: var(--green);
	font-size: var(--bigfont);
	font-weight: bold;
	border-radius: var(--radius);
	line-height: var(--bigfont);
}
aside :is(input[type="submit"], a.button) {
	--radius: 0.25em;
}
input, button, select, textarea, .button {
	font-family: inherit;
	border: var(--contour) solid #fff8;
	background-color: #666;
	padding: 0.5em;
}
input:disabled, button:disabled, a.button:disabled {
	opacity: 0.5;
	cursor: not-allowed !important;
}
input:not(:disabled):active, button:not(:disabled):active, a[role="button"]:active, a.button:active {
	box-shadow: 0 0 var(--radius) var(--hl);
}
input:not(:disabled):hover, button:not(:disabled):hover, a[role="button"]:hover, a.button:hover {
	box-shadow: 0 0 var(--radius) #888;
	text-decoration: none;
}

h1, h2 {
	color: var(--hl);
	font-weight: 400;
	text-align: center;
	margin: 0;
}
h1 {
	text-shadow: 0 0 var(--contour) #f00;
	font-size: 10vw;
	text-transform: uppercase;
}
h2 {
	text-shadow: 0 0 var(--contour) #000;
	font-size: 6vw;
	white-space: nowrap;
}
h3, h4, h5, h6 {
	margin: 0.5em 0;
}
h1, h2, section, .full {
	grid-column: 1 / -1;
	place-self: center;
	width: 100%;
}
ol, ul {
	padding-left: 2em;
}
img {
	object-fit: cover;
	max-width: 100%;
}
button .iconify, a .iconify {
	pointer-events: none;
	vertical-align: top;
}
time {
	font-weight: 600;
}
